body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--color-grey-3);
}

.box {
  width: 400px;
  height: 300px;
  background-color: var(--color-grey-4);
  border-radius: var(--border-radius-1);
  overflow: hidden;
  position: relative;
}

.item1 {
  --space-element: 8px;
  position: absolute;
  top: var(--space-element);
  left: var(--space-element);
  padding: var(--space-element) calc(var(--space-element) * 2);
  background-color: var(--color-status-online);
  color: var(--color-grey-4);
  font-weight: 500;
  z-index: 1;
  border-radius: calc(var(--border-radius-1) * 2);
}

.item2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
}
